<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Products</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content=""
	/>

	<!-- Custom-Files -->
	<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Bootstrap css -->
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" href="/css/adminstyle.css" />
	<!-- Main css -->
	<link rel="stylesheet" href="/css/fontawesome-all.css">
	<!-- Font-Awesome-Icons-CSS -->
	<link href="/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<!-- pop-up-box -->
	<link href="/css/menu.css" rel="stylesheet" type="text/css" media="all" />
	<!-- menu style -->
	<!-- //Custom-Files -->

	<!-- web fonts -->
	<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	    rel="stylesheet">
	<!-- //web fonts -->

</head>
<style>
    .logo-404 {
        margin-top: 60px;
    }

	.container{
		margin-bottom: 4em;
	}
</style>

<body>

    <div class="container text-center">
		<div class="logo-404 logo_agile">
			<a href="/"><img src="/images/logo2.png" alt="" />Joyz Store</a>
		</div>
		<div class="content-404">
			<!-- <img src="images/logo2.png" class="img-responsive" alt="" /> -->
			<h1><b>OPPS!</b> We Couldn’t Find this Product</h1>
			<p>Uh... So it looks like we Couldn’t get the product you searched.</p>
			<h2><a href="/">Check other Products</a></h2>
		</div>
	</div>
</body>
</html>

<%- include('layouts/footer') %>